<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MACTrackBarLib.dll" version="1.0.2" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="ServiceStack.Common" version="3.9.11" targetFramework="net46" />
  <package id="ServiceStack.Redis" version="3.9.11" targetFramework="net46" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net46" />
  <package id="System.Management" version="4.0.0" targetFramework="net46" />
  <package id="TentacleSoftware.Telnet" version="1.0.3.0" targetFramework="net46" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net46" />
</packages>